html { 
  background: url(img/thom-milkovic-zpbzMHIe_NU-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}

#logo {
  position: absolute;
  top: 30px;
  left: 35px;
  max-width: 250px;
  width: 15vw;
}

#content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20vh;
  color: white;
}

h1 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 80vw;
}

#soutezit {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 72, 0);
  cursor: pointer;
}

#infobg {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#infowindow {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  max-width: 70%;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin: 2rem 2rem 0rem 2rem;
}

#cheers {
  font-size: 4rem;
}

#toIG {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 72, 0);
  color: white;
  cursor: pointer;
  margin: 1rem 0 3rem 0;
  text-decoration: none;
}